﻿body {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -6rem;
    /*transition: all .25s ease-out;*/
    text-align: center;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 6rem;
    /*transition: all .25s ease-out;*/
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.breadcrumb-choice + .breadcrumb-choice::before {
    content: "|" !important;
}

.cat {
    font-size: 30px;
}

.p-card {
    cursor: pointer;
    transition: box-shadow 0.15s ease-in;
}

.d-card:hover {
    border-color: black;
}

.menu-img {
    position: relative;
    text-align: center;
    color: white;
}

.menu-img-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 10px 40px;
    color: black;
    font-size: 25px;
    font-family: Courier New, Courier, monospace;
    font-weight: 500;
    background-color: white;
}

.badge-cart {
    position: relative;

    top: 15px;
    left: 0px;

    /*top: 10px !important;
    left: -62px;*/
}

.hidden-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0px;
    }

    #page-content-wrapper {
        position: relative;
        min-width: 0;
        width: 100%;
    }
}

#blyado-wrapper {
    display: block;
    position: relative;
    padding-bottom: 360px;
}

.footer {
    background: #f8f9fa;
    color: black;
    width: 100%;
}

.footer .location i {
  font-size: 18px;
}

.about-company i {
  font-size: 25px;
}

.about-company a {
  color: black;
  transition: color .2s;
}

.about-company a:hover {
  color: grey;
}

.footer .links ul {
  list-style-type: none;
}

.footer .links ul li a {
  color: grey;
  transition: color .2s;
}

.footer .links ul li a:hover {
  text-decoration: none;
  color: black;
}

/* Ratings */
.starrr {
    display: inline-block;
}

.starrr a {
    font-size: 16px;
    padding: 0 1px;
    cursor: pointer;
    color: #FFD119;
    text-decoration: none;
}
