﻿@using RFCK.ViewModels.Products
@model IEnumerable<ProductListViewModel>

<div class="">
    <div style="margin: 15px 15px 10px 20px">
        <h3>@ViewBag.Caption</h3>
        <hr />
    </div>
    <div class="card-deck">
        @foreach (var p in Model)
        {
            <div class="col-lg-3 col-md-3 col-sm-6 mt-3" style="margin-bottom: 25px">
                <div class="card p-card border-0 shadow-sm rounded">
                    <a href="/Products/@p.Id">
                        <img class="card-img-top" src="@p.ImageUrl" alt="@p.Name">
                    </a>
                    <div class="card-body">
                        <a href="/Products/@p.Id" style="color: inherit; text-decoration: none">
                            <h5 class="card-title">@p.Name</h5>
                            <h6 class="card-title">@p.Price UAH</h6>
                            <p class="card-text"><small><em>@p.Ingredients</em></small></p>
                        </a>
                        <button name="@p.Id" type="button" class="btn btn-outline-dark add-to-cart" style="margin-top: 0.75rem; display:block">Add to cart</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>