﻿@using Newtonsoft.Json
@using RFCK.Common.Data.Entities
@model User

@{
    ViewData["Title"] = "Profile";
    var json = JsonConvert.SerializeObject(Model, Formatting.Indented);
}

<h1>Profile</h1>

<pre style="padding: 20px;" class="rounded border">@json</pre>
