﻿@using RFCK.ViewModels.Identity
@model SignUpViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sign In</title>

    @*    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/litera/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />

    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            width: 100%;
            max-width: 600px;
            padding: 15px;
            margin: auto;
        }

        .form-signin .checkbox {
            font-weight: 400;
        }

        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .container {
            max-width: 960px;
        }

        .lh-condensed {
            line-height: 1.25;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }
    </style>

</head>
<body>

    <form class="form-signin" asp-controller="Identity" asp-action="SignUp" method="post">
        <div class="text-center">
            <a asp-controller="Home" asp-action="Index"><img class="mb-4 rounded" src="~/img/logo/logo-black.png" alt="" width="72" height="72"></a>
            <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label asp-for="FirstName">First name</label>
                <input asp-for="FirstName" type="text" class="form-control">
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="LastName">Last name</label>
                <input asp-for="LastName" type="text" class="form-control">
            </div>
        </div>

        <div class="mb-3">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" type="email" class="form-control" placeholder="you@example.com">
        </div>

        <div class="mb-3">
            <label asp-for="PhoneNumber">Phone number</label>
            <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder="+380 00 00 0000">
        </div>

        <div class="mb-3">
            <label asp-for="Address">Address <span class="text-muted">(Optional)</span></label>
            <input asp-for="Address" type="text" class="form-control" placeholder="1234 Main St">
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label asp-for="Password" class="sr-only">Password</label>
                <input type="password" asp-for="Password" class="form-control" placeholder="Password">
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="ConfirmPassword" class="sr-only">Confirm password</label>
                <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm password">
            </div>
        </div>

        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Sign Up</button>
        <p></p>
        <p class="text-center mb-3 text-muted">RFCK © 2019</p>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

</body>
</html>

