﻿@using RFCK.Common.Queries.Products
@model CreateProductCommand
@{
    ViewData["Title"] = "Dashboard";
}

<span id="notification"></span>

<h2>Add Product</h2>
<div asp-validation-summary="All" class="text-danger"></div>
<div class="row">
    <div class="col-md-6">
        <form asp-controller="Dashboard" asp-action="AddProduct" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input type="number" min="1" max="9999.99" asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input type="number" min="1" max="99999" asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredients" class="control-label">Ingredients</label>
                <div class="row">
                    <div class="col-11" style="padding-right: 5px">
                        <select id="ingredients" asp-for="Ingredients" title="Select ingredients..." class="selectpicker" data-live-search="true" data-selected-text-format="count" data-size="8" data-width="100%" multiple></select>
                    </div>
                    <div class="col-1" style="padding-left: 0">
                        <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#add-modal" data-name="Ingredient">+</button>
                    </div>
                </div>
                <span asp-validation-for="Ingredients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label">Category</label>
                <div class="row">
                    <div class="col-11" style="padding-right: 5px">
                        <select id="categories" asp-for="Category" title="Select category..." class="selectpicker" data-live-search="true" data-size="8" data-width="100%"></select>
                    </div>
                    <div class="col-1" style="padding-left: 0">
                        <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#add-modal" data-name="Category">+</button>
                    </div>
                </div>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group custom-file">
                <input id="image" type="file" asp-for="Image" class="custom-file-input" />
                <label asp-for="Image" class="custom-file-label">Choose image...</label>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div> <br /> <br />
            <button type="submit" class="btn btn-primary">Add</button>
        </form>

        @* ---------- Modal ---------- *@
        <div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <span id="modal-notification"></span>
                        <form id="modal-form">
                            <div class="form-group">
                                <label for="modal-name" class="col-form-label"></label>
                                <input type="text" class="form-control" id="modal-name" required>
                            </div>
                            <div class="form-group custom-file">
                                <input id="modal-image" type="file" class="custom-file-input" required/>
                                <label for="modal-image" class="custom-file-label">Choose image...</label>
                            </div> <br /> <br />
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(() => {
            getData('categories');
            getData('ingredients');
        });

        function addData(data, name) {
            if (!data.name || !data.image) {
                notifyModal('#modal-notification', 'danger', 'Please, enter all input fields.');
                return;
            }

            if (data.name.length < 2) {
                notifyModal('#modal-notification', 'danger', 'Please, enter a longer name.');
                return;
            }

            if (data.image.type.substring(0, 5) !== "image") {
                notifyModal('#modal-notification', 'danger', 'Invalid image format.');
                return;
            }

            let formData = new FormData();
            formData.append("name", data.name);
            formData.append("image", data.image);
            
            $.ajax({
                type: "POST",
                url: `${ROOT_URL}/api/${name}`,
                data: formData,
                processData: false,
                contentType: false,
                error: (err) => notifyModal('#modal-notification', 'danger', err.message),
                success: (res) => {
                    $(`#${name}`).append(`<option value="${res.id}">${res.name}</option>`);
                    $('.selectpicker').selectpicker('refresh');
                    notifyModal('#modal-notification', 'success', `<strong>${res.name}</strong> created successfully.`)
                    $('#add-modal').find('input:text').val('');
                    $('#add-modal').find('input:file').val('');
                    $('#add-modal').find('.custom-file-label').text('Choose image...');
                }
            });         
        }

        function getData(name) {
            $.get(`/api/${name}`, data => {
                data.forEach(c => $(`#${name}`).append(`<option value="${c.id}">${c.name}</option>`));
                $('.selectpicker').selectpicker('refresh');
            })
        }

        function notifyModal(container, type, message) {
            $(`${container}`).html(
                `<div class="alert alert-${type} alert-dismissible fade show" role="alert">
                    ${message}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>`
            );
        }

        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        $('#add-modal').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget);
            const recipient = button.data('name');
            const name = recipient === 'Category' ? 'categories' : 'ingredients';

            $(this).find('.modal-title').text('Add ' + recipient);
            $(this).find('.col-form-label').text(recipient + ' name:');
            console.log($(this).find('input:text').val());

            $(this).find('.btn-primary').on('click', () => addData({
                name: $(this).find('input:text').val(),
                image: $(this).find('input:file').prop('files')[0]
            }, name));
        });

        $('#add-modal').on('hide.bs.modal', function () {
            $(this).find('.btn-primary').off();
            $('#modal-notification').html('');
            $(this).find('input:text').val('');
            $(this).find('input:file').val('');
            $(this).find('.custom-file-label').text('Choose image...');
        });

    </script>
}