﻿@using RFCK.ViewModels.Products
@model ProductDetailsViewModel

@{
    ViewData["Title"] = Model.Name;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Categories" asp-action="Menu">Menu</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="/Categories/@Model.Category">@Model.Category</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
    </ol>
</nav>

<hr />

<div class="row">
    <div class="col-md-6">
        <img src="@Model.ImageUrl" class="img-fluid border rounded" alt="@Model.Name">
    </div>
    <div class="col-md-6">
        <h1 class="card-title">@Model.Name</h1>
        <h3 class="card-title">@Model.Price UAH - <span>@Model.Weight</span>g</h3>
        <span id="rating-block"><span class='starrr' data-rating="@ViewBag.UserRating" data-product="@Model.Id" data-enabled="@User.Identity.IsAuthenticated"></span></span> &nbsp;
        <span id="rating-caption"><small class="text-muted"><em>(@Model.Votes @if (Model.Votes == 1) {<span>vote</span>} else {<span>votes</span>}, rating @Model.Rating out of 5)</em></small></span>
        <hr />
        <h3></h3>

        @if (Model.Ingredients.Count() > 0)
        {
            <p class="card-text"><u><em>Ingredients:</em></u></p>
        }
        @foreach (var i in Model.Ingredients)
        {
            @*<img src="@i.ImageUrl" class="img-fluid" width="75" height="75" />*@
            <figure class="figure">
                <img src="@i.ImageUrl" class="figure-img img-fluid rounded" alt="@i.Name Pic" width="75" height="75">
                <figcaption class="figure-caption text-center">@i.Name</figcaption>
            </figure>
        }
        @if (Model.Ingredients.Count() > 0)
        {
            <hr />
        }
        <p></p>
        <button name="@Model.Id" class="btn btn-outline-dark btn-lg add-to-cart">Add to cart</button>
    </div>
</div>

<br /><br />
@await Component.InvokeAsync("Suggested", new { Caption = "Recommended", Exclude = "Drinks", Current = Model.Name })

@if (Model.Category != "Drinks")
{
    <br />
    @await Component.InvokeAsync("Suggested", new { Caption = "Get something to drink", Category = "Drinks" })
}

@section Scripts {
    <script src="~/js/starrr.js"></script>
    <script>
        $(document).ready(() => {
            $('.starrr').starrr({
                rating: parseInt($('.starrr').attr('data-rating')),
                readOnly: $('.starrr').attr('data-enabled') === "True" ? false : true
            });

            $('.starrr').on('starrr:change', function (e, value) {
                $.ajax({
                    type: 'POST',
                    url: `${ROOT_URL}/api/products/rate`,
                    data: { id: e.target.attributes["data-product"].value, rating: value },
                    error: err => console.log(err),
                    success: res => {
                        $("#rating-caption").html(`<small class="text-muted"><em>(${res.votes} ${res.votes === 1 ? "vote" : "votes"}, rating ${res.rating} out of 5)</em></small>`)
                    }
                });
            })

            if ($('.starrr').attr('data-enabled') === "False") {
                $('#rating-block').click(() => {
                    notify('info', 'Please authenticate before rating a food item.')
                });
            }
        })
    </script>
}