﻿@using RFCK.ViewModels.Products
@model IEnumerable<ProductListViewModel>

@{
    ViewData["Title"] = ViewData["Category"];
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Categories" asp-action="Menu">Menu</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Category"]</li>
    </ol>
</nav>



@*<h1>@ViewData["Title"]</h1>*@
<hr />


@await Html.PartialAsync("_ProductList", Model)

@if (ViewBag.TotalPages > 1)
{
    <nav>
        <ul class="pagination justify-content-center">
            @if (ViewBag.PrevPage == null)
            {
                <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="@ViewBag.PrevPage" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }

            @for (var i = 1; i <= ViewBag.TotalPages; i++)
            {
                if (ViewBag.CurrentPage == i)
                {
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">@i</span>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="@Context.Request.Path?p=@i">@i</a>
                    </li>
                }
            }

            @if (ViewBag.NextPage == null)
            {
                <li class="page-item disabled">
                    <span class="page-link">&raquo;</span>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="@ViewBag.NextPage" aria-label="Previous">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
}