﻿@using RFCK.ViewModels.Categories
@model IEnumerable<CategoryViewModel>

@{
    ViewData["Title"] = "Menu";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Menu</li>
    </ol>
</nav>

<hr />

<div class="card-deck">
    @foreach (var p in Model)
    {
        <div class="col-xl-3 col-md-6 col-sm-6" style="margin-bottom: 25px">
            <div class="card p-card shadow-sm rounded border-0">
                <a href="/Categories/@p.Name">
                    <div class="menu-img">
                        <img class="card-img-top border rounded" src="@p.ImageUrl" alt="@p.Name" width="400" height="400" style="object-fit: cover;">
                        <div class="menu-img-caption">@p.Name</div>
                    </div>
                </a>
            </div>
        </div>
    }
</div>
