﻿@using RFCK.ViewModels.Products
@model IEnumerable<ProductListViewModel>

@{
    ViewData["Title"] = "RFCK";
}

<h2 >All categories</h2>
<hr style="margin-bottom: 30px"/>

@await Html.PartialAsync("_ProductList", Model)