﻿@using RFCK.ViewModels.Ingredients
@model IEnumerable<IngredientViewModel>

@{
    ViewData["Title"] = "Dashboard";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb justify-content-center">
        <li class="breadcrumb-item breadcrumb-choice"><a asp-controller="Dashboard" asp-action="Products">Products</a></li>
        <li class="breadcrumb-item breadcrumb-choice"><a asp-controller="Dashboard" asp-action="Categories">Categories</a></li>
        <li class="breadcrumb-item breadcrumb-choice active" aria-current="page">Ingredients</li>
    </ol>
</nav>

<div id='loader' class="text-center mt-5">
    <div class="spinner-border" style="width: 4rem; height: 4rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div id='board' style='visibility: hidden'>
    <span id="notification"></span>

    <table class="table table-hover table-bordered table-sm" style="width: 100%">
        <thead>
            <tr>
                <th>Pic</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="list">
            @foreach (var p in Model)
            {
                <tr id="@p.Id">
                    <td><img src="@p.ImageUrl" alt="Pic" width="72" height="72" style="object-fit: cover" /></td>
                    <th>@p.Name</th>
                    <td>
                        <button class='btn btn-sm btn-outline-dark' onclick="toggleEdit(@p.Id)">edit</button>&nbsp;<button class='btn btn-sm btn-outline-danger' onclick="del(@p.Id)">delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script>

        const opened = new Map();

        $(() => {

            $('table').DataTable();
            $('#board').css('visibility', 'visible');
            $('#loader').css('display', 'none');

        });

        function toggleEdit(id) {
            const row = [...$(`#${id}`).children()];
            const [picTd, nameTd, btnTd] = row;
            const [picHTML, nameHTML, btnHTML] = row.map(td => td.innerHTML);

            opened.set(id, [
                [picTd, nameTd, btnTd],
                [picHTML, nameHTML, btnHTML],
                nameTd.style.backgroundColor
            ]);

            picTd.innerHTML = `
                    <label for="a-${id}" class="btn btn-outline-dark" style='cursor: pointer'>Upload</label>
                    <input type="file" name="pic" id="a-${id}" class="hidden-input" />
                `
            btnTd.innerHTML = `<button class='btn btn-sm btn-outline-dark' onclick="save(${id})">save</button>&nbsp;<button class='btn btn-sm btn-outline-dark' onclick="cancel(${id})">cancel</button>`
            nameTd.innerHTML = `<input id='n-${id}' type='text' class='form-control' value='${nameHTML}' style='width: 250px' />`;
        }

        function save(id) {
            const [picTd, nameTd, btnTd] = opened.get(id)[0];
            btnTd.innerHTML = `
                        <button class='btn btn-sm btn-outline-dark' disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span>Saving...</span>
                        </button>
                    `

            let formData = new FormData();
            formData.append("Id", id);
            formData.append("Image", $(`#a-${id}`).prop('files')[0]);
            formData.append("Name", $(`#n-${id}`).val());

            $.ajax({
                type: "PUT",
                url: `${ROOT_URL}/api/ingredients/${id}`,
                data: formData,
                processData: false,
                contentType: false,
                error: (err) => {
                    console.log(err);
                    btnTd.innerHTML = `<button class='btn btn-sm btn-outline-dark' onclick="save(${id})">save</button>&nbsp;<button class='btn btn-sm btn-outline-dark' onclick="cancel(${id})">cancel</button>`;
                    notify('danger', err.responseJSON.message);
                    $(`#${id}`).css('backgroundColor', '#f8d7da');
                },
                success: (res) => {
                    $(`#${id}`).css('backgroundColor', opened.get(id)[2]);

                    $('table').DataTable().row($(`#${id}`)).data([
                        `<img src="${res.imageUrl}" alt="Pic" width="72" height="72" />`,
                        res.name,
                        `<button class='btn btn-sm btn-outline-dark' onclick="toggleEdit(${id})">edit</button>&nbsp;<button class='btn btn-sm btn-outline-danger' onclick="del(${id})">delete</button>`
                    ]).draw(false);

                    opened.delete(id);
                }
            });
        }

        function del(id) {
            $(`#${id}`)[0].lastElementChild.innerHTML = `
                    <button class='btn btn-sm btn-outline-danger' disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;<span>Deleting...</span>
                    </button>
                `
            $.ajax({
                type: "DELETE",
                url: `${ROOT_URL}/api/ingredients/${id}`,
                error: err => {
                    $(`#${id}`)[0].lastElementChild.innerHTML = `<button class='btn btn-sm btn-outline-dark' onclick="toggleEdit(${id})">edit</button>&nbsp;<button class='btn btn-sm btn-outline-danger' onclick="del(${id})">delete</button>`
                    $(`#${id}`).css('backgroundColor', '#f8d7da');

                    if (err.status === 500)
                        notify('danger', 'It all returns to nothing, it all comes tumbling down, tumbling down, tumbling down...');
                    else
                        notify('danger', err.responseJSON.message);
                },
                success: res => {
                    $('table').DataTable().row($(`#${id}`)).remove().draw();
                }
            });
        }

        function cancel(id) {
            let [elem, html, bg] = opened.get(id);
            for (let i = 0; i < elem.length; i++)
                elem[i].innerHTML = html[i];
            $(`#${id}`).css('backgroundColor', bg);
            opened.delete(id);
        }
    </script>
}