﻿@using RFCK.ViewModels.Products
@model IEnumerable<ProductListViewModel>

@{
    ViewData["Title"] = "Dashboard";
}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item breadcrumb-choice active" aria-current="page">Products</li>
            <li class="breadcrumb-item breadcrumb-choice"><a asp-controller="Dashboard" asp-action="Categories">Categories</a></li>
            <li class="breadcrumb-item breadcrumb-choice"><a asp-controller="Dashboard" asp-action="Ingredients">Ingredients</a></li>
        </ol>
    </nav>

    <div id='loader' class="text-center mt-5">
        <div class="spinner-border" style="width: 4rem; height: 4rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div id='board' style='visibility: hidden'>


        <span id="notification"></span>

        <table class="table table-hover table-bordered table-sm" style="width: 100%">
            <thead>
                <tr>
                    <th>Pic</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Weight</th>
                    <th>Category</th>
                    <th>Ingredients</th>
                    <th>In stock</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="list">
                @foreach (var p in Model)
                {
                    <tr id="@p.Id">
                        <td><img src="@p.ImageUrl" alt="Pic" width="72" height="72" style="object-fit: cover" /></td>
                        <th>@p.Name</th>
                        <td>@p.Price</td>
                        <td>@p.Weight</td>
                        <td>@p.Category</td>
                        <td>@p.Ingredients</td>
                        @if (p.InStock)
                        {
                            <td style="color: green">Yes</td> }
                        else
                        {
                            <td style="color: red">No</td>}
                        <td>
                            <button class='btn btn-sm btn-outline-dark' onclick="toggleEdit(@p.Id)">edit</button>&nbsp;<button class='btn btn-sm btn-outline-danger' onclick="del(@p.Id)">delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script>

        const db = {
            categories: null,
            ingredients: null
        };

        const opened = new Map();

        $(() => {

            $('table').DataTable({
                "order": [[4, "desc"]]
            });

            $.get(`/api/categories`, data => {
                db.categories = data;
                if (db.ingredients) {
                    $('#board').css('visibility', 'visible');
                    $('#loader').css('display', 'none');
                }
            });

            $.get(`/api/ingredients`, data => {
                db.ingredients = data;
                if (db.categories) {
                    $('#board').css('visibility', 'visible');
                    $('#loader').css('display', 'none');
                }
            });

        });

        function toggleEdit(id) {
            //cancelAll();

            const row = [...$(`#${id}`).children()];
            const [picTd, nameTd, priceTd, weightTd, categoryTd, ingredientsTd, inStockTd, btnTd] = row;
            const [picHTML, nameHTML, priceHTML, weightHTML, categoryHTML, ingredientsHTML, inStockHTML, btnHTML] = row.map(td => td.innerHTML);

            opened.set(id, [
                [picTd, nameTd, priceTd, weightTd, categoryTd, ingredientsTd, inStockTd, btnTd],
                [picHTML, nameHTML, priceHTML, weightHTML, categoryHTML, ingredientsHTML, inStockHTML, btnHTML],
                nameTd.style.backgroundColor
            ]);

            const ingredients = ingredientsHTML.split(', ');
            const categoryId = db.categories.filter(c => c.name === categoryHTML)[0].id;
            const ingredientIds = db.ingredients.filter(i => ingredients.some(name => i.name === name)).map(i => i.id);

            picTd.innerHTML = `
                <label for="a-${id}" class="btn btn-outline-dark" style='cursor: pointer'>Upload</label>
                <input type="file" name="pic" id="a-${id}" class="hidden-input" />
            `

            btnTd.innerHTML = `<button class='btn btn-sm btn-outline-dark' onclick="save(${id})">save</button>&nbsp;<button class='btn btn-sm btn-outline-dark' onclick="cancel(${id})">cancel</button>`
            nameTd.innerHTML = `<input id='n-${id}' type='text' class='form-control' value=\"${nameHTML}\" style='width: 150px' />`;
            priceTd.innerHTML = `<input id='p-${id}' type='text' class='form-control' value='${priceHTML}' style='width: 75px' />`;
            weightTd.innerHTML = `<input id='w-${id}' type='text' class='form-control' value='${weightHTML}' style='width: 75px' />`;
            categoryTd.innerHTML = `<select id='c-${id}' class="selectpicker" title="Select category..." data-width='100%' ></select>`;
            ingredientsTd.innerHTML = `<select id='i-${id}' class="selectpicker" multiple title="Select ingredients..." data-live-search="true" data-size="8" data-selected-text-format="count"></select>`;
            inStockTd.innerHTML = `<select id='s-${id}' class="selectpicker" data-width="fit"><option value='true'>Yes</option><option value='false'>No</option></select>`;

            const c_select = $(`#c-${id}`);
            const i_select = $(`#i-${id}`);
            const s_select = $(`#s-${id}`);

            db.categories.forEach(c => c_select.append(`<option value="${c.id}">${c.name}</option>`));
            db.ingredients.forEach(i => i_select.append(`<option value="${i.id}">${i.name}</option>`));

            $('.selectpicker').selectpicker();

            c_select.selectpicker('val', categoryId);
            i_select.selectpicker('val', ingredientIds);
            s_select.selectpicker('val', inStockHTML === 'Yes' ? 'true' : 'false');
        }

        function save(id) {
            const [picTd, nameTd, priceTd, weightTd, categoryTd, ingredientsTd, inStockTd, btnTd] = opened.get(id)[0];
            btnTd.innerHTML = `
                <button class='btn btn-sm btn-outline-dark' disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;<span>Saving...</span>
                </button>
            `

            let formData = new FormData();
            formData.append("Id", id);
            formData.append("Image", $(`#a-${id}`).prop('files')[0]);
            formData.append("Name", $(`#n-${id}`).val());
            formData.append("Price", $(`#p-${id}`).val());
            formData.append("Weight", $(`#w-${id}`).val());
            formData.append("Category", $(`#c-${id}`).val());
            formData.append("InStock", $(`#s-${id}`).val());

            let ingredients = $(`#i-${id}`).val();
            for (let i = 0; i < ingredients.length; i++) {
                formData.append("Ingredients[]", ingredients[i]);
            }           

            $.ajax({
                type: "PUT",
                url: `${ROOT_URL}/api/products/${id}`,
                data: formData,
                processData: false,
                contentType: false,
                error: (err) => {
                    btnTd.innerHTML = `<button class='btn btn-sm btn-outline-dark' onclick="save(${id})">save</button>&nbsp;<button class='btn btn-sm btn-outline-dark' onclick="cancel(${id})">cancel</button>`;
                    $(`#${id}`).css('backgroundColor', '#f8d7da');

                    if (err.status === 500)
                        notify('danger', 'It all returns to nothing, it all comes tumbling down, tumbling down, tumbling down...');
                    else
                        notify('danger', err.responseJSON.message);
                },
                success: (res) => {
                    $(`#${id}`).css('backgroundColor', opened.get(id)[2]);

                    $('table').DataTable().row($(`#${id}`)).data([
                        `<img src="${res.imageUrl}" alt="Pic" width="72" height="72" />`,
                        res.name,
                        parseFloat(Math.round(res.price * 100) / 100).toFixed(2),
                        res.weight,
                        res.category,
                        res.ingredients,
                        res.inStock ? 'Yes' : 'No',
                        `<button class='btn btn-sm btn-outline-dark' onclick="toggleEdit(${id})">edit</button>&nbsp;<button class='btn btn-sm btn-outline-danger' onclick="del(${id})">delete</button>`
                    ]).draw(false);

                    res.inStock ? inStockTd.style.color = 'green' : inStockTd.style.color = 'red';

                    opened.delete(id);                    
                }
            });
        }

        function del(id) {
            $(`#${id}`)[0].lastElementChild.innerHTML = `
                <button class='btn btn-sm btn-outline-danger' disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;<span>Deleting...</span>
                </button>
            `
            $.ajax({
                type: "DELETE",
                url: `${ROOT_URL}/api/products/${id}`,
                error: err => {
                    $(`#${id}`).last().innerHTML = `<button class='btn btn-sm btn-outline-dark' onclick="toggleEdit(${id})">edit</button>&nbsp;<button class='btn btn-sm btn-outline-danger' onclick="del(${id})">delete</button>`
                    notify('danger', err.responseJSON.message);
                    $(`#${id}`).css('backgroundColor', '#f8d7da');
                },
                success: res => {
                    $('table').DataTable().row($(`#${id}`)).remove().draw();
                }
            });
        }

        function cancel(id) {
            console.log(id);
            let [elem, html, bg] = opened.get(id);
            for (let i = 0; i < elem.length; i++)
                elem[i].innerHTML = html[i];
            $(`#${id}`).css('backgroundColor', bg);
            opened.delete(id);
        }
    </script>
}