@using Microsoft.AspNetCore.Identity
@using RFCK.Extensions
@using RFCK.Common.Data.Entities
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-controller="Identity" asp-action="Profile" title="Manage">@User.Identity.Name</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-controller="Identity" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Identity" asp-action="SignUp">Sign Up</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Identity" asp-action="SignIn">Sign In</a>
    </li>
}
</ul>