﻿@using RFCK.ViewModels.Products
@model IEnumerable<ProductListViewModel>

<div class="card-deck">
    @foreach (var p in Model)
    {
        if (p.InStock)
        {
            <div class="col-lg-3 col-md-4 col-sm-6" style="margin-bottom: 25px">
                <div class="card p-card shadow-sm rounded border-0">
                    <a href="/Products/@p.Id">
                        <img class="card-img-top" src="@p.ImageUrl" alt="@p.Name">
                    </a>
                    <div class="card-body">
                        <a href="/Products/@p.Id" style="color: inherit; text-decoration: none">
                            <h5 class="card-title">@p.Name</h5>
                            <h6 class="card-title">@p.Price UAH</h6>
                            <p class="card-text"><small><em>@p.Ingredients</em></small></p>
                        </a>
                        <button name="@p.Id" type="button" class="btn btn-outline-dark add-to-cart" style="margin-top: 0.75rem; display:block">Add to cart</button>
                    </div>
                </div>
            </div>
        }
    }
</div>