﻿@using RFCK.ViewModels.Orders
@model OrderCheckoutViewModel

@{
    ViewData["Title"] = "Checkout";
    var showAlert = Model.IsPriceChanged ? "block" : "none";
}

<div class="alert alert-warning" role="alert" style="display: @showAlert">
    <i class="fas fa-exclamation-circle"></i> Price of one or more items <strong>has changed</strong> since you put it in cart.
</div>


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
    </ol>
</nav>

<hr />

<div class="row">

    <div class="col-md-7">
        @foreach (var ci in Model.CartItems)
        {
            <div class='row'>
                <div class='col-3'>
                    <img src='@ci.ImageUrl' class='rounded border' width='100' height='100' style="margin-left: 12px; object-fit: cover" />
                </div>
                <div class='col-3'>
                    <strong>@ci.Name</strong>
                </div>
                <div class='col-3'>
                    <span>@ci.TotalPrice UAH</span>
                </div>
                <div class='col-3'>
                    <input value='@ci.Quantity' class='form-control' style='width: 45px; display: inline-block' disabled />
                </div>
            </div>
            <hr>
        }
        <h3 class="float-right">Total price: <strong>@Model.TotalPrice</strong> UAH</h3>
    </div>

    <div class="col-md-1 mb-5"></div>

    <div class="col-md-4">
        <form asp-controller="Order" asp-action="Checkout" method="post">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="FirstName">First name</label>
                    <input asp-for="FirstName" type="text" class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="LastName">Last name</label>
                    <input asp-for="LastName" type="text" class="form-control">
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="PhoneNumber">Phone number</label>
                <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder="+380 00 00 0000">
            </div>

            <div class="mb-3">
                <label asp-for="Address">Address</label>
                <input asp-for="Address" type="text" class="form-control" placeholder="1234 Main St">
            </div>

            @foreach (var i in Model.CartItems)
            {
                <input type="hidden" name="Items[@i].Key" value="@i.Id" />
                <input type="hidden" name="Items[@i].Value" value="@i.Quantity" />
            }

            <div asp-validation-summary="All" class="text-danger"></div>

            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Submit Order</button>
            <p></p>
        </form>
    </div>


</div>

